<nav class="fundoDeTela">
    <img src="../../assets/images/fundoDeTela.jpg" alt="">
</nav>

<div class="container">
    <header class="header">
      
      <h1 class="header-title">Bem-vindo ao Sistema de Gestão da Clínica Medicals Care</h1>
    </header>
  
    <section class="main-content">
      <p>Este sistema foi desenvolvido para facilitar o gerenciamento dos nossos profissionais de saúde e pacientes, garantindo um ambiente de trabalho mais eficiente e organizado.</p>
      
      <div class="features">
        <h2>Funcionalidades Principais:</h2>
        <ul>
          <li><i class="icon">🩺</i> <strong>Cadastro de Médicos:</strong> Registre e mantenha atualizados os dados dos nossos médicos, incluindo especializações, experiência e status.</li>
          <li><i class="icon">👥</i> <strong>Cadastro de Pacientes:</strong> Adicione novos pacientes e mantenha seus dados de contato e histórico médico sempre à disposição.</li>
          <li><i class="icon">🔒</i> <strong>Gestão de Acessos:</strong> Apenas administradores e médicos têm acesso ao sistema, assegurando a privacidade e segurança das informações.</li>
        </ul>
      </div>
  
      <div class="access-info">
        <h2>Acesso Restrito:</h2>
        <p>Este portal é exclusivo para uso de administradores e médicos da clínica. Se você não possui as credenciais de acesso, entre em contato com o suporte técnico.</p>
      </div>
  
      <footer>
        <p>Obrigado por fazer parte da nossa equipe! Vamos juntos garantir um atendimento de excelência aos nossos pacientes.</p>
      </footer>
    </section>
  </div>
  